!!!

%html
  %head
    %title Cedric McDougal - Music
    %link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    %meta(http-equiv="Content-Type" content="text/html; charset=ISO-8859-1")
    %meta(name="Keywords" content="cedric,mcdougal,personal website,awesome programmer")
    %meta(name="Description" content="The personal website for Cedric McDougal")

  %body
    %script(type="text/javascript" src="js/music.js")
    %link(rel="stylesheet" type="text/css" href="css/base.css")
    %link(rel="stylesheet" type="text/css" href="css/music.css")
    
    #header
      #header_content
        %a#logo(href="home.html")
          Cedric McDougal
        #contacts
          %a.contact(href="mailto:mcdougal.ce@gmail.com" target="_blank")
            %span#email.contact_lbl
              mcdougal.ce@gmail.com
          %a.contact(href="http://www.linkedin.com/profile/view?id=67935021&trk=tab_pro" target="_blank")
            %span#linkedin.contact_lbl
              LinkedIn
          %a.contact(href="pdf/cedric-mcdougal-resume.pdf")
            %span#resume.contact_lbl
              Resume

    #body
      #body_content
        #subheader
          %a#back(href="home.html")
          %span#subtitle
            Music
          %span#flash
            Uh oh! You need
            %a#flash_link(href="http://get.adobe.com/flashplayer/?no_redirect" target="_blank")
              Flash
            to play this music.

        %span.bubble.item
          .music_item
            %span.title
              Meloditopia
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/meloditopia.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/meloditopia.mp3")
              Download

          .music_item
            %span.title
              Modulatory
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/modulatory.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/modulatory.mp3")
              Download

          .music_item
            %span.title
              Lost
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/lost.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/lost.mp3")
              Download

          .music_item
            %span.title
              Arose
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/arose.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/arose.mp3")
              Download

          .music_item
            %span.title
              Spinning
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/spinning.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/spinning.mp3")
              Download

          .music_item
            %span.title
              Waiting
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/waiting.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/waiting.mp3")
              Download

          .music_item
            %span.title
              Jammin' Josh
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/jammin_josh.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/jammin_josh.mp3")
              Download

          .music_item
            %span.title
              Reflection
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/reflection.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/reflection.mp3")
              Download

          .music_item
            %span.title
              Mischief
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/mischief.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/mischief.mp3")
              Download

          .music_item
            %span.title
              Space
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/space.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/space.mp3")
              Download

          .music_item
            %span.title
              Earth
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/earth.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/earth.mp3")
              Download

          .music_item
            %span.title
              Boastful
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/boastful.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/boastful.mp3")
              Download

          .music_item
            %span.title
              Lift Up
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/lift_up.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/lift_up.mp3")
              Download

          .music_item
            %span.title
              Lift Down
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/lift_down.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/lift_down.mp3")
              Download

          .music_item
            %span.title
              Jumpity!
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/jumpity.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/jumpity.mp3")
              Download

          .music_item
            %span.title
              Dance
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/dance.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/dance.mp3")
              Download

          .music_item
            %span.title
              Clickish
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/clickish.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/clickish.mp3")
              Download

          .music_item
            %span.title
              Oddness
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/oddness.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/oddness.mp3")
              Download

          .music_item
            %span.title
              Star Gazing
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/star_gazing.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/star_gazing.mp3")
              Download

          .music_item
            %span.title
              Deep Ocean
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/deep_ocean.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/deep_ocean.mp3")
              Download

          .music_item
            %span.title
              Wat?
            %embed.music(type="application/x-shockwave-flash"
                         src="http://www.google.com/reader/ui/3523697345-audio-player.swf"
                         flashvars="audioUrl=http://cedricmcdougal.com/audio/wat.mp3"
                         quality="best")
            %a.download(href="http://cedricmcdougal.com/audio/wat.mp3")
              Download
