!!!

%html
  %head
    %title Cedric McDougal - Videos
    %link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    %meta(http-equiv="Content-Type" content="text/html; charset=ISO-8859-1")
    %meta(name="Keywords" content="cedric,mcdougal,personal website,awesome programmer")
    %meta(name="Description" content="The personal website for Cedric McDougal")

  %body
    %link(rel="stylesheet" type="text/css" href="css/base.css")
    
    #header
      #header_content
        %a#logo(href="home.html")
          Cedric McDougal
        #contacts
          %a.contact(href="mailto:mcdougal.ce@gmail.com" target="_blank")
            %span#email.contact_lbl
              mcdougal.ce@gmail.com
          %a.contact(href="http://www.linkedin.com/profile/view?id=67935021&trk=tab_pro" target="_blank")
            %span#linkedin.contact_lbl
              LinkedIn
          %a.contact(href="pdf/cedric-mcdougal-resume.pdf")
            %span#resume.contact_lbl
              Resume

    #body
      #body_content
        #subheader
          %a#back(href="home.html")
          %span#subtitle
            Videos

        %a.bubble.clickable.item(href="http://www.youtube.com/watch?v=aDTE8b-DHYU" target="_blank")
          %span.title
            Distributed Databases for Dummies
          %span#databases.screenshot
          %span.description
            This video explains the difference between Consistency and Availability in regards to distributed databases. I did it for a class assignment. First, we wrote a survey article based on a research topic of our choosing. I wrote mine on current strategies for overcoming the CAP Thorem limitations in distributed database design. Then, we were tasked with condensing a key part of our research into a 2-3 minute video that could be understood by a non-technical audience.

        %a.bubble.clickable.item(href="http://www.youtube.com/watch?v=obpa2Qa7tI8" target="_blank")
          %span.title
            Tea Time
          %span#tea.screenshot
          %span.description
            In High School I attempted to get a scholarship called "Calm-A-Sutra of Tea" in which participants had to make a 2 minute video explaining the health benefits of tea. I decided to do mine in song.